<div>
  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Seller profile:</strong>
    <%# order.user_id %>
    <p>Name <%= @users.find(@products.find(order.product_id).seller_id).name %></p>
    <p>Phone number <%= @users.find(@products.find(order.product_id).seller_id).phone_number %></p>
    <p>email <%= @users.find(@products.find(order.product_id).seller_id).email %></p>
  </p>
</div>
