
    <p style="color: green"><%= notice %></p>
  <div class="container">
    <strong><h1 class="text-start">Your orders</h1></strong>
    <div class="row flex-wrap justify-content-around ">
      <% @orders.each do |order| %>
        <div class="col-4 border border-success bg-white rounded m-2 p-2">
          <%= render("order", order: order)  %>
        </div>
      <% end %>
    </div>
  </div>
