

<div class="container" >
<p style="color: green"><%= notice %></p>
    <div>
    <strong><p class="text-center">Your orders :</p></strong>
    <% @orders.each do |order| %>
    <div >
      <%= render("order", order: order)  %>
    </div>
    <% end %>
    </div>

</div>