
<p style="color: green"><%= notice %></p>
<div class="container" >
  <strong><h1 class="text-center">Mes commandes</h1></strong>
  <br>
  <table id="orders">
    <thead>
      <tr>
        <th>Client</th>
        <th>Message</th>
        <th>Quantité</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
          <%= render("order", order: order)  %>
      <% end %>
    </tbody>
  </table>
</div>
