<p style="color: green"><%= notice %></p>

<h1>Orders</h1>



<div id="orders">
  <% @orders.each do |order| %>
    <%= render("order", order: order)  %>
    <div>
     <a href="#http://localhost:3000/products/1" class="button">
      <div class="qube">
         <div class="front">now click!</div>
         <div class="back">mouse over me!</div>
      </div>
    </p>
  <% end %>
</div>

<%# <%= link_to "New order", new_product_order_path() %>
