<div class="container form-wrapper">

  <h1>Nouvelle commande:</h1>

  <%= render "form", order: @order %>
  <br>
  <br>
<a class="fa-solid fa-arrow-left" href="/orders" style="text-decoration:none; color:orange; family-font:'Open Sans'; font-weight:bold; font-size: medium;"> Mes commandes </a>
</div>
