.btn-flat {
    color: white;
    font-size: 25px;
    padding: 8px 24px;
    border-radius: 25px;
    background: #E67E22;
    transition: background 0.3s ease;
    margin: 28px 207px;
    width: 400px;
  }

  .btn-flat:hover {
    background: #E67E22;
    color: white;
  }

  .btn-flat-sm {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #E67E22;
    transition: background 0.3s ease;
  }

  .btn-flat-sm:hover {
    background: #E67E22;
    color: white;
  }
