.card-category {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 600px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .card-trip {
    margin: 80px 20px;
    width: 800px;
    height: 348px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-trip:first-child {
    margin-left: 0px;
  }
  
  .card-trip:last-child {
    margin-right: -2px;
  }

  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-trip h2 {
    padding: 16px;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  
  .card-trip p {
    text-align: center;
    font-size: 16px;
    opacity: .7;
    margin: 0;
    padding: 16px
  }
  
  
  .card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  
  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
  