.card-category {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 600px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-trip {
    height: 348px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }


  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-trip h2 {
    padding: 16px;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  .card-trip p {
    text-align: center;
    font-size: 16px;
    opacity: .7;
  }


  .card-trip .card-trip-infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-top: 1em;
  }

  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
    height: 40px;
  }

  .card-trip-pricing {
    padding-bottom: 50px;
  }
.add-product {
  position: relative;
  background-color: #999;
  transform: scale(1);
  transition: all .4s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
  img {
    opacity: .5;
  }
  h2 {
    margin-top: 32px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4em;
  }
  span {
    position: absolute;
    top: 56px;
    right:120px;
    font-size: 10em;
    color: #00000044;
  }
}
