footer {
  background: #0A0A0B;
  height: 100px;
  padding: 100px 0 30px;
  color: #fff;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.row {
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
}

.col {
flex-basis: 25%;
padding: 10px;
}

.logo {
  width:80px;
  margin-bottom: 80px;
}




// .footer {
//     background: #0A0A0B;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     height: 100px;
//     padding: 0px 50px;
//     color: #E67E22;
//     bottom: 0;
//     width: 100%;
//     position: absolute;
//   }
//   .footer-links {
//     display: flex;
//     align-items: center;
//   }
//   .footer-links a {
//     color: #E67E22;;
//     opacity: 0.15;
//     text-decoration: none;
//     font-size: 24px;
//     padding: 0px 10px;
//   }
//   .footer-links a:hover {
//     opacity: 1;
//   }
//   .footer .fa-heart {
//     color: #D23333;
//   }
  
