
<div class="projcard-container">
  <div class="projcard projcard-blue">
    <div class="projcard-innerbox">
      <img class="projcard-img" src="" />
      <div class="projcard-textbox" data-controller= "popup">
        <div class="projcard-title"><h1><%= @product.name %></h1></div>
        <div class="projcard-subtitle"><h2><%=@product.price %> MAD</h2></div>
        <div class="projcard-bar"></div>
        <br>
        <div class="projcard-description">
          <%= @product.description %>
          <br>
          <br>
          <a class="btn" style="color: orange; border-style: dashed" data-action="click->popup#show">Personnaliser</a>
        </div>
        <div class="projcard-tagbox">
        </div>

        <div id="mymodal" class="d-none" data-popup-target="messages">
          <a class="btn" data-action= "click->popup#hide"> Fermer </a>
          <br>
          <br>
          <%# <h3>Personnaliser votre commande :</h3> %>
        </div>
      </div>
    </div>
  </div>
