
<div class="projcard-container">
  <div class="projcard projcard-blue">
    <div class="projcard-innerbox">
      <img class="projcard-img" src="" />
      <div class="projcard-textbox">
        <div class="projcard-title"><h1><%= @product.name %></h1></div>
        <div class="projcard-subtitle"><h2><%=@product.price %> MAD</h2></div>
        <div class="projcard-bar"></div>
        <br>
        <div class="projcard-description"><%= @product.description %></div>
        <div class="projcard-tagbox">
        </div>
      </div>
    </div>
  </div>
