

<div class="card-product">
  <img src="https://images.unsplash.com/photo-1598373182133-52452f7691ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80&" />
  <div class="card-product-infos">
    <h2><%=product.name %></h2>
    <h3><%=product.price %> MAD</h3>
    <p><%=product.description%></p>
  </div>
</div>
