<p style="color: green"><%= notice %></p>
<%# <div class="container" > %>
  <div class="d-flex justify-content-around" >
    <div id="products", class="card" style="background-image: url()">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
    </div>
  </div>
<%# </div> %>


<%= link_to "New product", new_product_path %>
