
<div class="container">
  <p style="color: green"><%= notice %></p>
  <p>The Products</p>
  <div class="row">
    <div class="col-md-auto">
      <% @products.each do |product| %>
        <div class="products" >
          <%= render product %>
            <div class="button">
              <%= link_to product_path(product) do %>
                <div class="qube">
                  <div class="front">Here we go !</div>
                  <div class="back">See product</div>
                </div>
              <% end %>
            </div>
      <% end %>
    </div>
  </div>
  <%= link_to "New product", new_product_path %>
</div>
