<div class="container form-wrapper" >
  <%= link_to " < Retour", mes_recettes_path, class:" text-decoration-none" %>
  <h1>Nouvelle recette</h1>
  <br>
  <br>
  <%= render "form", product: @product, method: "post" %>
  <br>
  <br>
</div>
