<h1>New product</h1>
<br>
<br>
<%= render "form", product: @product, method: "post" %>
<div>
<br>
<br>
  <%= link_to "Retour", mes_recettes_path, class:"btn-flat-sm-i text-decoration-none align-self-center" %>
</div>
